In [1]:
import pandas as pd

In [7]:
import numpy as np

In [2]:
dados =  pd.read_csv("base_scaled.csv")

In [4]:
dados.head()

,Unnamed: 0,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1
0,290694,1.0,0.460734,0.000692,0.25,0.072201,0.890,0.648855,0.333333,0.919708,1.0,0.452273,0.836957,0.011521
1,332047,1.0,0.526220,0.001288,0.25,0.461370,0.890,0.648855,0.333333,0.270073,1.0,0.452273,0.836957,0.011521
2,467475,1.0,0.778893,0.003656,0.00,0.588239,0.442,0.381679,0.333333,0.693431,0.0,0.854545,0.836957,0.011521
3,514361,1.0,0.869131,0.000724,0.25,0.477121,0.006,0.648855,0.333333,0.277372,0.0,0.452273,0.836957,0.011521
4,525114,1.0,0.890713,0.031116,0.00,0.288515,0.966,0.381679,0.333333,0.919708,1.0,0.236364,0.836957,0.011521

In [6]:
dados.shape

(60073, 14)

In [29]:
np.random.seed(2345) #para gerar um unico valor aleatorio
amostra = np.random.choice(a = [0,1], size = 150, replace= True, p=[0.5,0.5]) # O p nesse caso é probabilidade que esta em 50/50

In [9]:
len(amostra)

150

In [12]:
len(amostra[amostra==1])

73

In [21]:
len(amostra)

150

In [30]:
dados.loc[amostra]

,Unnamed: 0,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1
1,332047,1.0,0.526220,0.001288,0.25,0.461370,0.89,0.648855,0.333333,0.270073,1.0,0.452273,0.836957,0.011521
0,290694,1.0,0.460734,0.000692,0.25,0.072201,0.89,0.648855,0.333333,0.919708,1.0,0.452273,0.836957,0.011521
1,332047,1.0,0.526220,0.001288,0.25,0.461370,0.89,0.648855,0.333333,0.270073,1.0,0.452273,0.836957,0.011521
0,290694,1.0,0.460734,0.000692,0.25,0.072201,0.89,0.648855,0.333333,0.919708,1.0,0.452273,0.836957,0.011521
1,332047,1.0,0.526220,0.001288,0.25,0.461370,0.89,0.648855,0.333333,0.270073,1.0,0.452273,0.836957,0.011521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,332047,1.0,0.526220,0.001288,0.25,0.461370,0.89,0.648855,0.333333,0.270073,1.0,0.452273,0.836957,0.011521
1,332047,1.0,0.526220,0.001288,0.25,0.461370,0.89,0.648855,0.333333,0.270073,1.0,0.452273,0.836957,0.011521
1,332047,1.0,0.526220,0.001288,0.25,0.461370,0.89,0.648855,0.333333,0.270073,1.0,0.452273,0.836957,0.011521
0,290694,1.0,0.460734,0.000692,0.25,0.072201,0.89,0.648855,0.333333,0.919708,1.0,0.452273,0.836957,0.011521
1,332047,1.0,0.526220,0.001288,0.25,0.461370,0.89,0.648855,0.333333,0.270073,1.0,0.452273,0.836957,0.011521